@import "../../styles/variables.scss";

.Password {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
    
  &-Step1 {
    background-color: $white;
    padding: 20px 40px;

    img {
      display: block;
      margin: 0 auto;
      padding: 20px;
      }
  }  

  &-Step2 {
    background-color: $white;
    padding: 20px 40px;
  }

  &-Step3 {
    display: inline-flex;
    background-color: $white;
    padding: 20px 40px;
  }
   
}