@font-face {
  font-family:'MarkBook';
  font-style:normal;
  font-weight:400;
  src:url(../assets/fonts/Mark-Book.ttf) format("truetype");
}

@font-face {
  font-family:'MarkBold';
  font-style:normal;
  font-weight:700;
  src:url(../assets/fonts/Mark-Bold.ttf) format("truetype")
}