@import "./fonts.scss";

$primary-color: #FF0049;
$secondary-color: #002B45;
$terciary-color: #546a75;

$button-color: #df0049;

$background-color: #e3e9e9;

$error-color: red;

$white: #FFFFFF;
$black: #000000;

$primary-font-book: MarkBook;
$primary-font-bold: MarkBold;