@import "../../styles/variables.scss";

.Password-Step3 {

  img {
    width: 20%;
    display: inline-block;
    padding-right: 1rem;
  }

  &-text {
    display: inline-block;

    h4 {
      margin-top: 1rem;
    }
  }
}