@import "../../styles/variables.scss";

.WizardButtons {
  background-color: $white;
  border-top: 1px solid $background-color;
  display: inline-flex;
  padding: 20px 40px;
  justify-content: space-between;
}