@import "../../styles/variables.scss";

.InputEyeShow {
  position: absolute;
  pointer-events: none;

  img {
    pointer-events: initial;
    width: 30px;
    position: relative;
    top: 7px;
    right: 38px;
    cursor: pointer;
  }
}